# Functional programming in Python  

Functional programming is  a programming paradigm, a style of programming whre we main use immutable data structures and we try to avoid side effects by doing all of our computation using the evaluation of mathematical functions.

In [7]:
# mutable data structure
scientists = [
    {'name': 'Ada Lovelace', 'field':'math','born': '1815','nobel':False},
    {'name': 'Emmy Noether', 'field':'math','born': '1882','nobel':False}
]

In [9]:
scientists

[{'name': 'Ada Lovelace', 'field': 'math', 'born': '1815', 'nobel': False},
 {'name': 'Emmy Noether', 'field': 'math', 'born': '1882', 'nobel': False}]

In [11]:
scientists

[{'name': 'Ada Lovelace', 'field': 'math', 'born': '1815', 'nobel': False},
 {'name': 'Emmy Noether', 'field': 'math', 'born': '1882', 'nobel': False}]

In [14]:
# modifiy name
scientists[0]['name'] = 'Ed Lovelace'

In [15]:
scientists

[{'name': 'Ed Lovelace', 'field': 'math', 'born': '1815', 'nobel': False},
 {'name': 'Emmy Noether', 'field': 'math', 'born': '1882', 'nobel': False}]

In [16]:
import collections

In [17]:
Scientist = collections.namedtuple('Scientist', [
    'name',
    'field',
    'born',
    'nobel',
])

In [18]:
Scientist

__main__.Scientist

In [21]:
Scientist(name = 'Ada Lovelace',field = 'math',born=1815,nobel = False)

Scientist(name='Ada Lovelace', field='math', born=1815, nobel=False)

In [23]:
ada = Scientist(name = 'Ada Lovelace',field = 'math',born=1815,nobel = False)

In [24]:
ada

Scientist(name='Ada Lovelace', field='math', born=1815, nobel=False)

In [25]:
ada.name

'Ada Lovelace'

In [26]:
ada.field

'math'

In [27]:
# cant change a nametupple

ada.name = 'Ed Lovelace'

AttributeError: can't set attribute

In [28]:
from pprint import pprint

In [29]:
scientist = [
    Scientist(name = 'Ada Lovelace',field = 'math',born=1815,nobel = False),
    Scientist(name = 'Emmy Noether',field = 'math',born=1880, nobel = False)
]

In [34]:
pprint(scientist)

[Scientist(name='Ada Lovelace', field='math', born=1815, nobel=False),
 Scientist(name='Emmy Noether', field='math', born=1880, nobel=False)]

In [37]:
# change name
scientist[0].name

'Ada Lovelace'

In [38]:
scientist[0].name = 'Ed Lovelace'

AttributeError: can't set attribute

In [39]:
# but since they are in a list, which is a mutalble data structure
# you can delete the fist row
del scientist[0]

In [41]:
scientist

[Scientist(name='Emmy Noether', field='math', born=1880, nobel=False)]

In [42]:
# create a tupple, like an immutable list

Scientist = collections.namedtuple('Scientist', [
    'name',
    'field',
    'born',
    'nobel',
])

scientists = (
    Scientist(name='Ada Lovelace', field='math', born=1815, nobel=False),
    Scientist(name='Emmy Noether', field='math', born=1882, nobel=False),
    Scientist(name='Marie Curie', field='math', born=1867, nobel=True),
    Scientist(name='Tu Youyou', field='physics', born=1930, nobel=True),
    Scientist(name='Ada Yonath', field='chemistry', born=1939, nobel=True),
    Scientist(name='Vera Rubin', field='chemistry', born=1928, nobel=False),
    Scientist(name='Sally Ride', field='physics', born=1951, nobel=False),
)

In [43]:
scientists

(Scientist(name='Ada Lovelace', field='math', born=1815, nobel=False),
 Scientist(name='Emmy Noether', field='math', born=1882, nobel=False),
 Scientist(name='Marie Curie', field='math', born=1867, nobel=True),
 Scientist(name='Tu Youyou', field='physics', born=1930, nobel=True),
 Scientist(name='Ada Yonath', field='chemistry', born=1939, nobel=True),
 Scientist(name='Vera Rubin', field='chemistry', born=1928, nobel=False),
 Scientist(name='Sally Ride', field='physics', born=1951, nobel=False))

We now have a tupple of `scientist` objects

In [44]:
del scientists[0]

TypeError: 'tuple' object doesn't support item deletion